.button {

    height: 68px;
    width: 200px;
    border-radius: 37.5px;
    background-color: #ffffff;
    box-shadow: 0px 6px 12px 3px;
    font-family: Roboto;
    font-size: 23px;
    text-align: center;
    font-weight: 500;
}