.console{
    height: 100vh;
    overflow: scroll;
    font-family: 'Open Sans';
    color: #414141;
}
.card-render{
    height: 100vh;
    overflow: auto;
    background-color: #D3D3D3;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}
.components {
    font-family: 'Open Sans';
    color: #414141;
}
body {
    background-color: white;
}

label.active {
    color: #414141;
}




.body-builder{
    height:100vh;
    width: 100vw;
}

.components {
    height:100vh;
}

.column { 
    width:50vw;
}

h3{
    text-align: center; 
    font-family: 'Roboto';
    color: #414141;
    border-bottom: 2px solid #414141;
}

Input{
    text-align: center;
    color: #414141;
}

.componentEditor {
    padding: 10px;
    margin-top: 1vh;
    width: 100%;

}

.collapsible-header:hover{
    background-color: #EEAA7B;
}

input.select-dropdown  ul li{
    color: red;
}
